{% extends "base.html" %}

<title>
    {% block title %}
    Notes with Categories
    {% endblock title %}
</title>
<body>
    {% block content %}
    <div class="container">
    <h1>My Notes</h1>
    <form method="POST" action="{% url 'logout' %}">
        {% csrf_token %}
        <button type="submit">Logout</button>
    </form>
    </span>
        <button type="button" class="btn btn-primary">
            <a href="{% url 'create-note' %}" class="create-note-link">Create Note</a>
        </button>
        <div class="notes">
            <div class="note-cards">
                {% for note in latest_notes %}
                <div class="note-card">
                    <h3>{{ note.title }}</h3>
                    <p>{{ note.text }}</p>
                    {% if user.username %}
                        <p>Created by {{ user.username }}</p>
                    {% endif %}
                    <div class="button-container">
                        <form method="POST" action="{% url 'delete_note' note.id %}" class="action-form">
                            {% csrf_token %}
                            <button class="delete-button" type="submit">
                                Delete
                            </button>
                        </form>
                        <form method="GET" action="{% url 'update_note' note.id %}" class="action-form">
                            <button class="update-button" type="submit">
                                Update
                            </button>
                        </form>
                    </div>
                    {% if note.categories.all %}
                    <div class="categories">
                        {% for category in note.categories.all %}
                        <span class="category">{{ category.title }}</span>
                        {% endfor %}
                    </div>
                    {% endif %}
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    {% endblock content %}
</body>
